/*Piso la section genérica para trabajar una section más pequeña con un aside al lado*/
section{
    float: left;
    width: 65%;
    margin-top: 40px;
    margin-left: 60px;
    padding: 25px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #255D77, #83A3B1);
}

/*REGLAS PARA LAS PÁGINAS DE CADA ARTICULO*/

section .articulo{
    margin: auto;
    padding: 20px;
}
.articulo h2{
    color: whitesmoke;
    text-align: center;
    font-size: 38px;
    text-shadow: -2px 2px 1px #ECB365;
    margin-bottom: 40px;
}
.articulo .imgarticulo{
    border-radius: 40px;
    margin: auto;
    padding-bottom: 20px;
    width: 850px;
    height: 430px;
    overflow: hidden;
}
.articulo .imgarticulo1{
    border-radius: 40px;
    margin: auto;
    padding-bottom: 20px;
    width: 850px;
    height: 500px;
    overflow: hidden;
}
.articulo .imgarticulonft{
    display: flex;
    margin: auto;
    border-radius: 20px;
}
.descripcionimg{
    font-weight: lighter;
    text-align: center;
}
.articulo .nft{
    float: left;
    margin: 10px;
    border-radius: 10px;
    width: 540px;
    overflow: hidden;
}
.articulo .nft1{
    float: left;
    border-radius: 10px;
    margin: 10px;
    width: 800px;
    overflow: hidden;
}
section img{
    width: 100%;
}
.articulo p{
    font-size: 25px;
    color: whitesmoke;
    margin: 30px;
}
section h3{
    padding-top: 25px;
    padding-bottom: 30px;
    color: whitesmoke;
    font-size: 25px;
    text-shadow: -2px 1px 2px #ECB365;
    text-align: center;
}
section a:hover{
    color: #ffc100;
}

/*REGLAS PARA LA PÁGINA DE BLOG, CUADRICULA CON TODOS LOS ARTÍCULOS*/
section .bloggrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
section .bloggrid article{
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #44748A, #255D77);
    padding: 10px;
    height: 450px;
    justify-self: stretch;


}
section .bloggrid article h2{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    text-shadow: -2px 2px 2px #ECB365;
    margin: 15px;
}
section .bloggrid .imgarticulo{
    border-radius: 30px;
    margin: auto;
    width: 450px;
    height: 230px;
    overflow: hidden;

}
section .bloggrid article p{
    font-size: 18px;
    color: whitesmoke;
    margin: 10px;
}

section .bloggrid a:hover{
    border: 1px solid #83A3B1;
    border-radius: 50px;
    filter: brightness(110%);
    transition: all 0.2s ease;
}

section .bloggrid .sugerencia{
    grid-column-start: span 2;
    text-align: center;
    font-weight: 600;
    height: 100px;

}
.bloggrid .sugerencia a:hover{
    border: none;
}




footer{
    clear: both;
}