/* Este archivo de CSS común es para quitar herencias no deseadas y dar estilo al header, nav, footer y
al contenedor de la pagina. Comunes a todas las páginas del sitio web  */

/* Importo las letras de Google Fonts que quiero utilizar */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/*QUITO HERENCIAS NO DESEADAS*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
/*REGLAS COMUNES EN TODO EL DOCUMENTO*/
#contenedor {

}
img {
    width: 100%;
}
a{
    color: whitesmoke;
}

/*ESTILO DEL HEADER*/
header{
    height: 150px;
    background-image: linear-gradient(180deg, #041C32 10%, #04293A);
    color: whitesmoke;
}
header h1{
    display: inline-block;
    position: relative;
    font-size: 80px;
    left: 115px;
    top: 20px;
    text-shadow: -3px 2px 2px #ECB365;
    letter-spacing: 4px;
}

.trigo{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 475px;
    top: 20px;
    overflow: hidden;
}

.trigo img{
    width: 100%;
    filter: brightness(115%);
}
header h2{
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 55px;
    right: 250px;
}
.redes{
    position: absolute;
    right: 130px;
    top: 105px;
}
.redes ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.redes ul li{
    margin-left: 10px;
}

.logoredes{
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.logoredes a:hover{
    filter: brightness(120%);
    margin: 1px;
}

.zonabottom{
    background-image: linear-gradient(180deg, #04293A 10%, #064663);
}

/*DANDO ESTILO AL NAV*/

nav{
    border: 1px solid #04293A;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    height: auto;
    z-index: 10;
    font-size: larger;
    font-weight: 600;
    text-shadow: 4px 2px 3px #d16400;
    position: sticky;
    top: 0;
    background-color: #064663;
    opacity: 0.9;

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 40px;
    margin-left: 40px;
}
.elementolibtc{
    margin: 0;

}
.logobtc{
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin: 5px;

    }
nav img{
    transition: all 0.5s;
}
nav img:hover{
    filter: brightness(118%);
    transform: rotate(10deg);

}
nav a{
    color: white;
    transition: all 0.2s;
}
nav a:hover{
    color: #ffc100;
    transition: all 0.4s ease;
}
/*ESTILO DE LA SECTION*/
section{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #255D77, #638B9E);
}
/*ESTILO PARA EL SLIDER EN LA SECTION DEL INDEX */
.sectionindex{
    float: left;
    width: 62%;
    margin-top: 40px;
    margin-left: 60px;
    padding: 40px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #255D77, #83A3B1);
}
.slider{
    margin: auto;
    border-radius: 50px;
    width: 900px;
    height: 540px;
    overflow: hidden;
    position: relative; /*para poder fijar bien el titulo del slider*/

}
.sectionindex .slider:hover{
    filter: brightness(115%);
}
.tituloslider{
    background-image:linear-gradient(45deg, #064663, #83A3B1, #064663);
    opacity: 0.9;
    width: 900px;
    height: 60px;
    position: absolute;
    top: 420px;
    color: whitesmoke;
    text-shadow: 4px 2px 3px black;
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}
.botonsliderpadre{
    position: absolute;
    left: 370px;
    top: 15px;
    display: flex;
}
.botonslider{
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    border: 1px solid #04293A;
    border-radius: 20px;
}

/*ESTILO DEL ASIDE, PARA LAS PÁGINAS QUE LOS TENGAN*/
.asideindex{
    height: 560px;
    position: static;
}
aside{
    float: right;
    position: sticky;
    top: 80px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    border-radius: 80px;
    width: 20%;
    margin-top: 40px;
    margin-right: 60px;
    padding: 20px;
    padding-bottom: 40px;
    background-image: linear-gradient(180deg, #064663, #255D77);
    text-align: center ;
    align-items: stretch;
    justify-content: stretch;
    color: whitesmoke;
    height: 1100px;
}
aside h3{
    font-size: 20px;
    text-shadow: -2px -1px 4px #ffc100;
    margin: 20px;
}
aside article{
    margin-bottom: 5px;
}
aside article .formaside{
    background-image: linear-gradient(180deg, #255D77, #44748A);
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
}
aside ul li{
    margin: 15px;
}
aside ul li .email{
    border-radius: 5px;
    height: 20px;
    width: 200px;
    padding: 5px;
    text-align: center;
}
aside ul li .boton{
    border-radius: 10px;
    height: 40px;
    width: 120px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
#msgemail{
    font-weight: 600;
}

aside article .artaside{
    background-image: linear-gradient(180deg, #255D77, #44748A);
    border-radius: 20px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}
aside h2{
    margin: 8px;
}

.imgaside{
    border-radius: 20px;
    width: 275px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

aside a:hover{
    color: #ffc100;
    transition: all 0.5s ease;
}





/*ESTILO DEL FOOTER*/

footer{
    clear: both;
    color:#c4c4ce;
    height: 100px;
    padding: 20px;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: inline-flex;
}

footer ul li{
    margin-right: 50px;
    margin-left: 50px;
}
footer a{
    color:#c4c4ce;
}
footer a:hover{
    color: whitesmoke;

}



