/* Este archivo de CSS común es para quitar herencias no deseadas y dar estilo al header, nav, footer y
al contenedor de la pagina. Comunes a todas las páginas del sitio web  */

/* Importo las letras de Google Fonts que quiero utilizar */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/*QUITO HERENCIAS NO DESEADAS*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#contenedor {

}
/*ESTILO DEL HEADER*/
header {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(180deg, #041C32 10%, #04293A);
    color: whitesmoke;
}
header h1{
    position: relative;
    font-size: 80px;
    left: 115px;
    top: 20px;
    text-shadow: -3px 2px 2px #ECB365;
    letter-spacing: 4px;
}

.trigo{
    position: relative;
    width: 90px;
    height: 90px;
    left: 475px;
    bottom: 75px;
    overflow: hidden;
}

.trigo img{
    width: 100%;
    filter: brightness(115%);
}
header h2{
    font-size: 15px;
    position: relative;
    bottom: 65px;
    left: 120px;
}
.redes{
    position: relative;
    left: 1170px;
    bottom: 100px;
}
.redes ul{
    display: flex;
    flex-direction: row;
}
.redes ul li{
    margin-left: 10px;
}

.logoredes{
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.logoredes img{
    width: 100%;
}
.logoredes a:hover{
    filter: brightness(120%);
    margin: 1px;
}

.zonabottom{
    background-image: linear-gradient(180deg, #04293A 10%, #064663);
}

/*DANDO ESTILO AL NAV*/

nav{
    border: 1px solid #04293A;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    height: auto;
    z-index: 10;
    font-size: larger;
    font-weight: 600;
    text-shadow: 4px 2px 3px #d16400;
    position: sticky;
    top: 0;
    background-color: #064663;
    opacity: 0.9;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 40px;
    margin-left: 40px;
}
.elementolibtc{
    margin: 0;
}
.logobtc{
    width: 55px;
    height: 55px;
    overflow: hidden;
    margin: 5px;
    }
nav img{
    width: 100%;
}
nav img:hover{
    filter: brightness(115%);
    transform: rotate(5deg);
}
nav a{
    color: white;
}
nav a:hover{
    color: #ffc100;
}

/*ESTILO DEL FOOTER*/

footer{
    color:#c4c4ce;
    height: 120px;
    padding: 20px;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: inline-flex;
}

footer ul li{
    margin-right: 50px;
    margin-left: 50px;
}
footer a{
    color:#c4c4ce;
}
footer a:hover{
    color: whitesmoke;
}



