/*Cuadricula con tres columnas, dos con las letras y otra con las definiciones*/
.glosarioflex{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
}
.glosarioflex .definiciones{
    margin-left: 15px;
    font-size: 22px;
    color: whitesmoke;
}
.glosarioflex .letras{
    border: 1px solid #064663;
    border-radius: 10px;
    background: #638B9E;
    position: sticky;
    top: 80px;
    width: 510px;
    text-align: center;
    margin-right: 40px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 15px;
}
.letras a{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    text-shadow: -2px 2px 2px #ECB365;
    line-height: 45px;
}
a:hover{
    color: #ffc100;
}

.glosarioflex dt{
    display: block;
    font-weight: 600;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 25px;
}
.glosarioflex dd{
    color: whitesmoke;
    font-size: 20px;
}
section h3{
    padding-top: 25px;
    padding-bottom: 30px;
    color: whitesmoke;
    font-size: 25px;
    text-shadow: -2px 1px 2px #ECB365;
    text-align: center;
}
