/*Doy estilo al section, donde esta el contenido organizado mediante css grid. dos columnas con 4 filas.
parrafos en article e imagenes en div*/
section{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #255D77, #83A3B1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.6fr;
    grid-gap: 15px;
    justify-items: center;
    justify-content: center;
    align-items: center;

}
section article{
    width: 100%;
    justify-self: center;
    align-self: center;
    font-size: 22px;
}
article p{
    margin: 5px;
    color: whitesmoke;
    line-height: 35px;
}
section h2{
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
    text-shadow: -2px 2px 1px #ECB365;
    margin: 10px;
}
p strong{
    color: white;
}
/*Divs donde se encuentran imagenes*/
section div{
    border-radius: 30px;
    width: 450px;
    height: 450px;
    overflow: hidden;
}
.imgordenador{
    border-radius: 30px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    align-content: center;
}
section img{
    width: 100%;
}
.largo{
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}
.largo p{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.largo a{
    text-shadow: -2px 1px 2px #ECB365;
    text-decoration: underline 2px #ECB365;
}
.largo a:hover{
    color: #ffc100;
}

