section{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
article{
    width: 100%;
    height: 250px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}